@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Reset Básico */


html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    background-color: #F8FAFC;
    color: #1E293B;
}



img {
    max-width: 100%;
    display: block;
}

